/*********************************
        Overall Page Styling
*********************************/
body {
    font-family: Arial, Tahoma, sans-serif;
    color: cornflowerblue;
    background-color: snow; 
    width: 100%;
    margin: 0;
}

/*********************************
            Header
*********************************/
header {
    position: absolute;
    background-color: cornflowerblue;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px black;
}
nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
    width: 16%;
    text-align: center;
}
nav ul li a {
    color: snow;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 15px 30px;
}
#logoimg {
    width: 80px;
    height: 80px;
    margin-top: -20px;
}
/*********************************
            Body
*********************************/
main {
    margin-top: 50px;
    width: 100%;
    height: 800px;
    /* background: linear-gradient(to bottom, rgba(0,0,0,0), snow 95%), url("https://www.nothinbutsnow.com/wp-content/uploads/2015/10/CASI-Snowboard-Coach-Freestyle-SM-2000x1000.jpg");  */
    background-image: url("images/CASI-Snowboard-Coach-Freestyle-SM-2000x1000.jpg");
    background-repeat: no-repeat;

}


footer {
    text-align: center;
}









































/*********************************
            BEGIN JOE'S CSS
*********************************/

#allCards {
    display: flex;
    justify-content: space-evenly;
    margin-top: -1em;
}
.card {
    width: 30%;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
    background-color: snow;
}

div h3,
h2 {
    text-align: center;
    text-shadow: 1px 1px 1px #888888;
}

section.s3,
section.s2 {
    margin-left: .5em;
    margin-right: .5em;
}
section.s1 img {
    display: block;
    width: 90%;
    margin: 0 auto; 
    box-shadow: 4px 3px 3px #888888;
    border-radius: 3px;
}

div.bio {
    text-align: justify;
}





/*********************************
        PRODUCTS PAGE STYLES
*********************************/

main#prodMain {
    background-image: url("images/prodMainPic.jpg");
}

div#prodCards {
    display: flex;
    justify-content: space-evenly;
    margin-top: -1em;
    flex-wrap: wrap;
}

div#banner {
    font-size: 100px;
    color: white;
    text-align: center;
    padding-top: 2em;
    text-shadow: 2px 2px 2px cornflowerblue;
}




/*********************************
        Product Card Styling
*********************************/

.oneCard {
    width: 30%;
    background-color: #eeeeea;
    margin-bottom: 2.5em;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
    
}

.arrayprice,
.arraysize,
.arraypowpow,
.arraylength,
.arraydescription,
.arrayname  {
    padding-left: 1em;
    color: black;
}

































































































/****
Kyles CSS
*****/


/****
Body
*****/

.h-main {
    margin-top: 50px;
    width: 100%;
    height: 800px;
    background-image: url("images/snowboarding_freeze_frame_midair.jpg");
    background-repeat: no-repeat;

}

.text {
    font-size: 100px;
    color:snow;
    mix-blend-mode: multiply;
    text-align: center;
    padding-top: 2em;
    padding-right: 8em;
    text-shadow: 10px 10px 10px cornflowerblue;
    
}

.allcards {
    display: flex;
    justify-content: space-evenly; 
    margin-top: -1em;

}

h2 {
    text-shadow: 1px 1px 1px #888888;
}

h2, p {
    text-align: center;
    
    
}

.creston {
    width: 30%;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
    background-color: snow;   
    
}





















































































/*****
End Kyles Css
/******























































































































































































































/***********************
Jobs Page
**************************/

img.jobs-images {
    display: block;
    margin: 0 auto;
}
.job-qualities {
    padding: 0 1em;
}

.submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: inline-block;
    text-align: center;

}
div.form{
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}



